$color-primary: #13284f;
$color-accent: #8d43ea;
$color-main: #6064ea;
$color-grey: #717f8e;
$color-light-grey: #eee;
$color-danger: #ff0000;
$color-white: #fff;
$color-light-blue: #f6fafc;

$z-index-s: 100;
$z-index-m: 200;
$z-index-l: 300;
$z-index-xl: 400;

//COLOR SETS
// $color-primary-dark: #000038;
