html {
  //Define 1rem as 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  ::-webkit-scrollbar {
    height: 0;
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: $color-light-grey;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
